<p><%= @contact.message %></p>
<p>---------------------</p>
<p>Nome: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Cidade: <%= @contact.city %></p>
<p>Telefone: <%= @contact.phone %></p>
<p>Arquivo: <%= @contact.resume %></p>